<ion-view title="Registrarse">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="true" class="has-header">
        <form name="formCliente">
            <div class="list list-inset">
                <label class="item item-input input-bottom">
                    <i class="icon ion-card placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Identificación:</span>
                    <input type="number" name="docuento" ng-model="vm.usuario.identificacion" ng-required="true">
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-person placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Nombres:</span>
                    <input type="text" name="nombre" ng-model="vm.usuario.nombres" ng-required="true">
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-person placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Apellidos:</span>
                    <input type="text" name="apellidos" ng-model="vm.usuario.apellidos" ng-required="true">
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-android-pin placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Departamento:</span>
                    <!--<input type="text" name="direccion" ng-model="vm.usuario.direccion" ng-required="true">-->
                    <select-box ng-Selected-Value="selectedValue"
                                ng-Item-Name="nombre"
                                ng-Item-Id="id"
                                ng-header-class="bar-positive"
                                ng-data="vm.departamentos"
                                ng-placeholder="no seleccionado"
                                ng-select-changed="vm.loadCiudades(selectedValue)">
                    </select-box>
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-android-pin placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Ciudad:</span>
                    <select-box ng-Selected-Value="vm.usuario.municipio_id"
                                ng-Item-Name="nombre"
                                ng-Item-Id="codigo"
                                ng-header-class="bar-positive"
                                ng-data="vm.ciudades"
                                ng-placeholder="no seleccionada">
                    </select-box>
                    <input ng-hide="true" type="text" ng-model="vm.usuario.municipio_id" ng-required="true">
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-android-pin placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Dirección:</span>
                    <input type="text" name="direccion" ng-model="vm.usuario.direccion" ng-required="true">
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-android-phone-portrait placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Telefono:</span>
                    <input type="number" name="telefono" ng-model="vm.usuario.telefono" ng-required="true">
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-email placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Correo:</span>
                    <input type="email" name="correo" ng-model="vm.usuario.correo" ng-required="true">
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-key placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Contraseña:</span>
                    <input type="password" name="contrasena" ng-model="vm.usuario.contrasena" ng-required="true">
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-key placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Confirmar Contraseña:</span>
                    <input type="password" name="confirmarContrasena" ng-model="vm.usuario.confirmarContrasena"
                           ng-required="true">
                </label>

                <button class="button button-block button-positive"
                        ng-click="vm.registarCliente()" ng-disabled="formCliente.$invalid">
                        Registrar
                </button>
                <span class="text-center positive" ng-show="vm.mostrarAdvertencia">Las contraseñas no coinciden</span>
            </div>
        </form>
    </ion-content>
</ion-view>
