<ion-side-menu side="left" ng-controller="MenuCtrl as vm" width="220">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Viaja Seguro</h1>
    </ion-header-bar>
    <ion-content class="custom">
        <div class="home center">
            <img ng-if="vm.usuario.rol === 'MENSAJERO'" style="width:120px;height:120px;margin-top:10%;" ng-src="http://api.domigo.co/images/mensajeros/{{vm.usuario.mensajero.fotografia}}" class="img-perfil img-rounded">
            <p class="nombre-conductor">{{vm.usuario.username}}</p>
            <!--<p class="nombre-conductor">Cliente</p>-->
        </div>
        </div>
        <ion-list class="center menu-list">
            <ion-item ng-repeat="menu in vm.menuList" menu-toggle="left" ui-sref="{{menu.statego}}">
                <i style="font-size: 25px;" class="icon {{menu.icon}}"></i>
                <h2>{{menu.nombre}}</h2>
            </ion-item>
            <ion-item  ng-click="vm.logout()">
                <i style="font-size: 25px;" class="icon ion-ios-undo"></i>
                <h2>Cerrar sesión</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-side-menu>